<!--ОбластьШапка-->
<!DOCTYPE html>
<html lang="ru" xml:lang="ru">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>OneScriptDB</title>
<link rel="stylesheet" href="/resource/bootstrap-mod.css" media="screen">
<!--link rel="stylesheet" href="/resource/custom.min.css"-->
<script src="/resource/jquery.min.js"></script>
<!--script src="/resource/jquery-ui.min.js"></script-->
<script type='text/javascript'>
var procid=.ПараметрИдПроцесса;
function loaddata(divid, urldata){
$(divid).load(urldata);}
</script>

<!--/ОбластьШапка-->

<!--ОбластьТело-->
<body>
    <div class="bs-component">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="https://github.com/vasvl123/OneScriptDB">OneScriptDB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="" onclick="$('#316').load('/system/showdata?procid=' + procid + '&mode=view&data=slate&nodeid=2'); return false">Sample</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" onclick="$('#316').load('/system/showdata?procid=' + procid + '&mode=design&data=slate&nodeid=2&cmd=nodeopen'); return false">Source<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tasks/restartserver">Restart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tasks/stopserver">Stop</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>

  <!--ОбластьЗагрузитьУзел-->
  <div id='.ПараметрИдУзла'>
    <script type='text/javascript'>
  	$('#.ПараметрИдУзла').load('/system/showdata?procid=' + procid + '&mode=lisp&data=datalisp&nodeid=.ПараметрИдУзла&cmd=nodeopen');
    </script>
  </div>
  <!--/ОбластьЗагрузитьУзел-->

<!--/ОбластьТело-->

<!--ОбластьУзел-->
<div id='d.ПараметрИдУзла'>
  <div style='white-space: nowrap;'>.ПараметрЗаголовокУзла</div>
<ul>
.ПараметрДочернийУзел
</ul>
</div>
<!--/ОбластьУзел-->

<!--ОбластьКнопкаИмяЗначение-->
<button type="button" class="btn btn-secondary btn-sm .ПараметрНеактивно" onclick="loaddata('#d.ПараметрИдУзла','/system/showdata?procid=.ПараметрИдПроцесса&amp;mode=.ПараметрРежим&amp;nodeid=.ПараметрИдУзла&amp;cmd=.ПараметрКоманда')">.ПараметрНадписьНаКнопке</button>
<!--/ОбластьКнопкаИмяЗначение-->

<!--ОбластьИмяЗначение-->
<div id='d.ПараметрИдУзла' style='display: inline-block;'>
<div class="btn-group" role="group" data-toggle="buttons">
  .ПараметрИнструменты
  .ПараметрИмя
  .ПараметрЗначение
  &nbsp;&nbsp;
</div>
</div>
<!--/ОбластьИмяЗначение-->

<!--ОбластьИзменитьИмяЗначение-->
<div id='d.ПараметрИдУзла' style='display: inline-block;'>
  <form onsubmit="loaddata('#d.ПараметрИдУзла','/system/showdata?procid=.ПараметрИдПроцесса&amp;mode=.ПараметрРежим&amp;nodeid=.ПараметрИдУзла&amp;cmd=.ПараметрКоманда&amp;valuedit='+encodeURIComponent(elements['i.ПараметрИдУзла'].value)); return false;">
    <div class="input-group">
    <input class="form-control form-control-sm" value=".ПараметрИмяЗначение" id="i.ПараметрИдУзла" type="text" />
    <span class="input-group-btn">
      <button class="btn btn-primary btn-sm" type="button" onclick="loaddata('#d.ПараметрИдУзла','/system/showdata?procid=.ПараметрИдПроцесса&amp;mode=.ПараметрРежим&amp;nodeid=.ПараметрИдУзла&amp;cmd=.ПараметрКоманда&amp;valuedit='+encodeURIComponent(elements['i.ПараметрИдУзла'].value))">✔</button>
      <button class="btn btn-primary btn-sm" type="button" onclick="loaddata('#d.ПараметрИдУзла','/system/showdata?procid=.ПараметрИдПроцесса&amp;mode=.ПараметрРежим&amp;nodeid=.ПараметрИдУзла&amp;cmd=.ПараметрКоманда')">✘</button>
    </span>
    </div>
  </form>
  <script type='text/javascript'>document.getElementById('i.ПараметрИдУзла').select()</script>
</div>
<!--/ОбластьИзменитьИмяЗначение-->

<!--ОбластьКнопкаИнструменты-->
<button id="b.ПараметрИдУзла" type="button" class="btn btn-primary btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">☰</button>
<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
.ПараметрМенюИнструменты
</div>
<!--/ОбластьКнопкаИнструменты-->

<!--ОбластьМенюИнструменты-->
<a class="dropdown-item" href="" onclick="loaddata('#d.ПараметрОбновитьУзел','/system/showdata?procid=.ПараметрИдПроцесса&amp;mode=.ПараметрРежим&amp;nodeid=.ПараметрИдУзла&amp;loadnodeid=.ПараметрОбновитьУзел&amp;cmd=.ПараметрКоманда')">.ПараметрПодсказка</a>
<!--/ОбластьМенюИнструменты-->

<!--ОбластьПросмотр-->
<div id="v.ПараметрИдУзла">
  .ПараметрПредставление
</div>
<!--/ОбластьПросмотр-->
<script>
  $("#v.ПараметрИдУзла").draggable();
</script>

<!--ОбластьКнопкаУзел-->
<div style='display: inline-block;'><button type="button" class="btn btn-outline-secondary btn-sm" onclick="loaddata('#d.ПараметрИдУзла','/system/showdata?procid=.ПараметрИдПроцесса&amp;mode=.ПараметрРежим&amp;nodeid=.ПараметрИдУзла&amp;cmd=.ПараметрКоманда')">.ПараметрНадписьНаКнопке</button></div>
<!--/ОбластьКнопкаУзел-->

<!--ОбластьПриветствие-->

    <div class="container">

			<div class="bs-component">
              <div class="jumbotron">
                <h1 class="display-3">Hello, world!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
              </div>
            </div>

    </div>

<!--/ОбластьПриветствие-->

<!--ОбластьПодвал-->
<script src="/resource/popper.min.js"></script>
<script src="/resource/bootstrap.min.js"></script>
<!--script src="/resource/custom.js"></script-->
</body>
</html>
<!--/ОбластьПодвал-->
