body {
  padding-top:50px;
  padding-left:10px;
}

.form-control {
  display: block;
  width: 100%;
  line-height: 0;
  color: #fff;
  background-color: #313539;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #757f89;
  border-radius: 0.25rem;
}

.form-control:focus {
  color: #fff;
  background-color: #484E55;
  outline: none;
}

.btn-outline-dark {
  color: #7a8288;
  background-color: #313539;
  background-image: none;
  border-color: #757f89;
}

.btn:not([disabled]):not(.disabled).active {
  background-color: #52575C;
  border-color: #757f89;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:hover, .btn:focus, .btn:not([disabled]):not(.disabled):active, .btn:not([disabled]):not(.disabled):active:hover, .btn:not([disabled]):not(.disabled).active:hover {
	border-color: rgb(117, 127, 137);
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #52575C;
  border-color: #757f89;
}

.btn-sm2, .btn-group-sm > .btn {
  padding: 0.35rem 0.2rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
}

.btn-sm3, .btn-group-sm > .btn {
  padding: 0.1rem 0.35rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
}

.nav-link {
  display: block;
  min-height: 2.3rem;
}

.navbar {
  border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 0rem;
}

.navbar .nav-link {
  padding: 0.2rem;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-content {
	border: 1px solid rgba(255, 255, 255, 0.4);
}

.modal-header {
	padding: 5px;
  background-color: #3A3F44;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#notifies {
    position:fixed;
    width:auto;
    height:auto;
    top:50px;
    right:0px;
}
