.navbar-nav .active > .nav-link, .navbar-nav .active > .nav-link:hover {
	border-bottom-style: solid;
	border-bottom-color: #63c2de;
	border-bottom-width: 1px;
}

.dropdown-item {
	padding: .25rem 1.5rem;
}

.modal-header {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: #f0f3f5;
}

.btn-shadow {
	background-color: #3a4248;
	border-bottom: 1px solid #23282c;
	border-right: 1px solid #23282c;
	color: white;
}

.btn-shadow-s {
	background-color: #595f64;;
	border-bottom: 1px solid #23282c;
	border-right: 1px solid #23282c;
	color: white;
}

.btn-shadow-p {
	background-color: #484971;
	border-bottom: 1px solid #23282c;
	border-right: 1px solid #23282c;
	color: white;
}

.btn-node {
	color: #73818f;
	height: 1.75rem;
	width: 1.75rem;
}

.input-shadow {
  color: #fff;
  background-color: #3a4248;
	border-bottom: 1px solid #23282c;
	border-right: 1px solid #23282c;
	border-left-style: none;
	border-top-style: none;
}

.input-shadow:focus {
  color: #fff;
  background-color: #484E55;
}

.btn-outline-dark:hover {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.card.bg-dark {
	border-top: 1px solid #e4e5e6;
	border-left: 1px solid #e4e5e6;
	border-right: 1px solid #73818f;
	border-bottom: 1px solid #73818f;
}

.input-group {
	border-bottom: 1px solid #8f9ba6;
	border-right: 1px solid #8f9ba6;
	border-radius: .25rem;
}

body {
	line-height: 1rem;
}

.app-footer {
	flex: 0 0 40px;
}

.docs-callout {
	padding: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	border: 1px solid #eee;
	border-radius: .25rem;
}

.docs-callout-warning {
	border-left-width: .20rem;
	border-left-color: #ffc107;
}

.docs-callout-info {
	border-left-width: .15rem;
	border-left-color: #63c2de;
}

.docs-callout-danger {
	border-left-width: .25rem;
	border-left-color: #f86c6b;
}

#notifies {
    position:fixed;
    width:auto;
    height:auto;
    top:50px;
    right:0px;
		z-index: 2030;
}

@media(max-width:576px) {
	.app-header .navbar-brand {
		display: none;
	}
	ul {
		padding-left: .5rem;
	}
	.sidebar .nav-link {
		padding: .5rem .5rem;
	}
	.main .container-fluid {
		padding: 0 5px;
	}
	.card-body {
		padding: .5rem;
	}
}

iframe {
	position: absolute;
	border: 0px;
	left: 0;
	right: 0;
	width: 100%;
	display: none;
	overflow: auto;
}

.aside-menu {
	padding-top: 1rem;
	padding-right: 2rem;
	padding-left: 0.5rem;
	padding-bottom: 2.5rem;
  z-index: 1019;
  width: 250px;
  color: #f3f4f5;
  background: #2f353a;
  border-left: 1px solid #23282c;
	overflow-y: scroll;
	display: flex;
	opacity: .9;
}

@media(min-width:576px) {
	ul {
		padding-left: 1rem;
	}
}

aside ul {
	padding-left: .5rem;
}

.copyright {
	position: fixed;
	bottom: 5px;
	left: 5px;
}

.copyright a {
	color: #ccc;
	font-weight:bolder;
}

.app-body {
	background-image: url("/resource/bg.jpg") ;
	background-color: rgb(90, 150, 190);
}

.sidebar {
	opacity: .9;
}

.data {
	margin-top:1.5rem!important
}

.win {
	position: absolute;
	min-width: 50%;
}

/* .app-body .main {
	min-width: auto;
} */

.btn1 {
	margin: 1px 1px;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	/* white-space: nowrap; */
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: .875rem;
	line-height: 1;
	border-radius: .2rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.hidden {
	display: none;
}

.sidebar-toggler {
	color: rgba(0,0,0,.5);
	border-color: rgba(0,0,0,.1);
	padding: .25rem .75rem;
	font-size: 1.09375rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: .25rem;
}

.navbar-light .navbar-brand {
	color: rgb(120, 175, 210);
	font-size: 1.5rem;
}

.color-white {
	color: #abb2bf;
}

.color-pink {
	color: #c678dd
}

.color-green {
	color: #98c379
}

.color-blue {
	color: #61afef
}

.color-red {
	color: #e06c75
}

.color-blue2 {
	color: #56b6c2
}

.color-orange {
	color: #d19a66
}

.color-gray {
	color: #5c6370
}

.color-yellow {
	color: #e5c07b
}
