.btn-outline-secondary {
	color: #23282c;
}

.navbar-nav .active > .nav-link, .navbar-nav .active > .nav-link:hover {
	border-bottom-style: solid;
	border-bottom-color: #63c2de;
	border-bottom-width: 1px;
}

.dropdown-item {
	padding: .25rem 1.5rem;
}

.modal-header {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: #f0f3f5;
}

#notifies {
    position:fixed;
    width:auto;
    height:auto;
    top:50px;
    right:0px;
}
